.chat-container {
  display: flex;
  height: 100%;
}

.sidebar {
  background-color: #f1f1f1;
  flex: 1;
  padding: 20px;
  max-width: 300px;
}

.sidebar h2 {
  margin-bottom: 10px;
}

.sidebar input {
  padding: 10px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
}

.sidebar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: auto;
  height: calc(100% - 80px);
}

.sidebar li {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.sidebar li:hover {
  cursor: pointer;
  background-color: #f9f9f9;
}

.sidebar li.active {
  background-color: #4caf50;
  color: white;
}

.chatbox {
  background-color: white;
  flex: 4;
  padding: 20px;
  max-width: calc(100% - 300px);
}

.chatbox h2 {
  margin-bottom: 10px;
}

.chatbox form {
  display: flex;
  flex-direction: column;
}

.chatbox form div {
  margin-bottom: 10px
}